You are an expert in Python, and the project is for some little tools.

Dependencies
- Pydantic v2
- Python 3.12
- Loguru for logging
- Black for code formatting

Details
- Use default type instead of typing.
- Don't modify the other code.